In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df = pd.read_csv("/content/Chennai houseing sale (2).csv")

In [3]:
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [ ]:
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7108 non-null   float64
 6   N_BATHROOM     7104 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   object
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7061 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(10)
memory usage: 1.2+ MB

In [ ]:
df.QS_OVERALL.isna().sum()

48

In [ ]:
df.QS_OVERALL = df.QS_OVERALL.fillna(df['QS_OVERALL'].mode()[0])

In [ ]:
df.N_BEDROOM.isna().sum()

1

In [ ]:
df.N_BEDROOM = df.N_BEDROOM.fillna(df['N_BEDROOM'].mode()[0])

In [ ]:
df.N_BEDROOM.isna().sum()

0

In [ ]:
df.N_BATHROOM.isna().sum()

5

In [ ]:
df.N_BATHROOM = df.N_BATHROOM.fillna(df['N_BATHROOM'].mode()[0])

In [ ]:
df.N_BATHROOM.isna().sum()

0

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df.SALES_PRICE.isna().sum()

0

In [ ]:
df.drop('PRT_ID',axis=1,inplace=True)

In [ ]:
df.AREA.unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'TNagar', 'T Nagar', 'Chrompt', 'Chrmpet', 'Karapakam',
       'Ana Nagar', 'Chormpet', 'Adyr', 'Velchery', 'Ann Nagar',
       'KKNagar'], dtype=object)

In [ ]:
df.AREA.replace(['Karapakam', 'Ana Nagar', 'Ann Nagar', 'Adyr',  'Chrompt','Chrmpet','Velchery',     'KKNagar',  'TNagar' ,'Chormpet'],
                   ['Karapakkam', 'Anna Nagar','Anna Nagar', 'Adyar', 'Chrompet','Chrompet', 'Velachery', 'KK Nagar','T Nagar','Chrompet'], inplace=True)

In [ ]:
df.AREA.unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'T Nagar'], dtype=object)

In [ ]:
cond = {'Adj Land':'AdjLand','Ab Normal':'AbNormal','Partiall':'Partial','PartiaLl':'Partial'}
df.SALE_COND = df.SALE_COND.replace(cond)

In [ ]:
df.PARK_FACIL.value_counts()

Yes    3587
No     3520
Noo       2
Name: PARK_FACIL, dtype: int64

In [ ]:
park = {'Noo':'No'}
df.PARK_FACIL = df.PARK_FACIL.replace(park)

In [ ]:
df.BUILDTYPE.value_counts()

House         2444
Commercial    2325
Others        2310
Other           26
Comercial        4
Name: BUILDTYPE, dtype: int64

In [ ]:
df.BUILDTYPE = df.BUILDTYPE.replace({'Comercial':'Commercial','Other':'Others'})

In [ ]:
df.UTILITY_AVAIL.value_counts()

AllPub     1886
NoSeWa     1871
NoSewr     1829
ELO        1522
All Pub       1
Name: UTILITY_AVAIL, dtype: int64

In [ ]:
df.UTILITY_AVAIL = df.UTILITY_AVAIL.replace({'All Pub':'AllPub'})

In [ ]:
df.STREET.value_counts()

Paved        2560
Gravel       2520
No Access    2010
Pavd           12
NoAccess        7
Name: STREET, dtype: int64

In [ ]:
df.STREET = df.STREET.replace({'NoAccess':'No Access','Pavd':'Paved'})

In [ ]:
df.MZZONE.value_counts()

RL    1858
RH    1822
RM    1817
C      550
A      537
I      525
Name: MZZONE, dtype: int64

In [ ]:
df.QS_OVERALL = (df.QS_BATHROOM + df.QS_BEDROOM + df.QS_ROOMS)/3
df[df.QS_OVERALL.isna()]

Empty DataFrame
Columns: [AREA, INT_SQFT, DATE_SALE, DIST_MAINROAD, N_BEDROOM, N_BATHROOM, N_ROOM, SALE_COND, PARK_FACIL, DATE_BUILD, BUILDTYPE, UTILITY_AVAIL, STREET, MZZONE, QS_ROOMS, QS_BATHROOM, QS_BEDROOM, QS_OVERALL, REG_FEE, COMMIS, SALES_PRICE]
Index: []

[0 rows x 21 columns]

In [ ]:
df[(df.AREA=='Anna Nagar') & (df.N_ROOM==4) & (df.N_BATHROOM==1)]

,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
34,Anna Nagar,1709,22-11-2009,130,1.0,1.0,4,Family,No,24-11-2003,...,NoSeWa,Gravel,RH,4.8,3.2,4.3,4.100000,452501,90500,12928590
47,Anna Nagar,1710,12-11-2009,15,1.0,1.0,4,Normal Sale,Yes,15-11-1998,...,AllPub,Gravel,RH,2.7,4.0,2.2,2.966667,808639,161728,20215970
65,Anna Nagar,1600,30-09-2012,154,1.0,1.0,4,Family,Yes,06-10-1991,...,ELO,Gravel,RH,3.9,2.7,2.5,3.033333,309941,166891,11920820
70,Anna Nagar,1589,22-03-2010,39,1.0,1.0,4,Partial,No,02-04-1966,...,AllPub,Gravel,RL,2.1,2.5,4.5,3.033333,451857,85486,12212350
75,Anna Nagar,1792,21-02-2011,41,1.0,1.0,4,Family,Yes,26-02-1990,...,ELO,Gravel,RM,2.7,2.6,2.0,2.433333,514532,250313,13906270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7047,Anna Nagar,1598,20-08-2013,121,1.0,1.0,4,AdjLand,Yes,31-08-1968,...,ELO,Paved,RM,2.5,4.6,2.3,3.133333,508658,203463,12716450
7052,Anna Nagar,1508,08-12-2011,63,1.0,1.0,4,AbNormal,No,18-12-1970,...,NoSewr,No Access,RH,2.0,3.4,4.3,3.233333,373074,165811,10363160
7070,Anna Nagar,1514,16-04-2012,72,1.0,1.0,4,AdjLand,No,24-04-1980,...,NoSewr,No Access,RM,4.5,4.4,5.0,4.633333,330127,91070,11383690
7078,Anna Nagar,1622,24-03-2014,109,1.0,1.0,4,AbNormal,Yes,28-03-1999,...,AllPub,No Access,RL,3.4,4.4,2.9,3.566667,355700,118567,13174060
7098,Anna Nagar,1611,21-11-2013,144,1.0,1.0,4,Partial,Yes,22-11-2008,...,NoSeWa,Paved,RM,3.2,3.7,2.9,3.266667,432288,209172,13944780

In [ ]:
df.N_BEDROOM.fillna(1.0,inplace=True)

In [ ]:
df[df.N_BATHROOM.isna()]

Empty DataFrame
Columns: [AREA, INT_SQFT, DATE_SALE, DIST_MAINROAD, N_BEDROOM, N_BATHROOM, N_ROOM, SALE_COND, PARK_FACIL, DATE_BUILD, BUILDTYPE, UTILITY_AVAIL, STREET, MZZONE, QS_ROOMS, QS_BATHROOM, QS_BEDROOM, QS_OVERALL, REG_FEE, COMMIS, SALES_PRICE]
Index: []

[0 rows x 21 columns]

In [ ]:
df[(df.AREA=='Chrompet')&(df.N_BEDROOM==1)&(df.N_ROOM==3)].N_BATHROOM.value_counts()

1.0    1145
Name: N_BATHROOM, dtype: int64

In [ ]:
df.N_BATHROOM.fillna(1.0,inplace=True)

In [ ]:
df.drop(['DATE_SALE','DATE_BUILD'],axis=1,inplace=True)
df.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1.0,1.0,3,AbNormal,Yes,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.266667,380000,144400,7600000
1,Anna Nagar,1986,26,2.0,1.0,5,AbNormal,No,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.866667,760122,304049,21717770
2,Adyar,909,70,1.0,1.0,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.366667,421094,92114,13159200
3,Velachery,1855,14,3.0,2.0,5,Family,No,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.066667,356321,77042,9630290
4,Karapakkam,1226,84,1.0,1.0,3,AbNormal,Yes,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.200000,237000,74063,7406250

In [ ]:
df.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1.0,1.0,3,AbNormal,Yes,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.266667,380000,144400,7600000
1,Anna Nagar,1986,26,2.0,1.0,5,AbNormal,No,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.866667,760122,304049,21717770
2,Adyar,909,70,1.0,1.0,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.366667,421094,92114,13159200
3,Velachery,1855,14,3.0,2.0,5,Family,No,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.066667,356321,77042,9630290
4,Karapakkam,1226,84,1.0,1.0,3,AbNormal,Yes,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.200000,237000,74063,7406250

In [ ]:
df.AREA.value_counts()

Chrompet      1702
Karapakkam    1366
KK Nagar       997
Velachery      981
Anna Nagar     788
Adyar          774
T Nagar        501
Name: AREA, dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
od = OrdinalEncoder()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7109 non-null   object
 1   INT_SQFT       7109 non-null   int64
 2   DIST_MAINROAD  7109 non-null   int64
 3   N_BEDROOM      7109 non-null   float64
 4   N_BATHROOM     7109 non-null   float64
 5   N_ROOM         7109 non-null   int64
 6   SALE_COND      7109 non-null   object
 7   PARK_FACIL     7109 non-null   object
 8   BUILDTYPE      7109 non-null   object
 9   UTILITY_AVAIL  7109 non-null   object
 10  STREET         7109 non-null   object
 11  MZZONE         7109 non-null   object
 12  QS_ROOMS       7109 non-null   float64
 13  QS_BATHROOM    7109 non-null   float64
 14  QS_BEDROOM     7109 non-null   float64
 15  QS_OVERALL     7109 non-null   float64
 16  REG_FEE        7109 non-null   int64
 17  COMMIS         7109 non-null   int64
 18  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(7)
memory usage: 1.0+ MB

In [ ]:
df.AREA = od.fit_transform(df[['AREA']])
df.SALE_COND= od.fit_transform(df[['SALE_COND']])
df.PARK_FACIL = od.fit_transform(df[['PARK_FACIL']])
df.BUILDTYPE = od.fit_transform(df[['BUILDTYPE']])
df.UTILITY_AVAIL = od.fit_transform(df[['UTILITY_AVAIL']])
df.STREET = od.fit_transform(df[['STREET']])
df.MZZONE = od.fit_transform(df[['MZZONE']])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7109 non-null   float64
 1   INT_SQFT       7109 non-null   int64
 2   DIST_MAINROAD  7109 non-null   int64
 3   N_BEDROOM      7109 non-null   float64
 4   N_BATHROOM     7109 non-null   float64
 5   N_ROOM         7109 non-null   int64
 6   SALE_COND      7109 non-null   float64
 7   PARK_FACIL     7109 non-null   float64
 8   BUILDTYPE      7109 non-null   float64
 9   UTILITY_AVAIL  7109 non-null   float64
 10  STREET         7109 non-null   float64
 11  MZZONE         7109 non-null   float64
 12  QS_ROOMS       7109 non-null   float64
 13  QS_BATHROOM    7109 non-null   float64
 14  QS_BEDROOM     7109 non-null   float64
 15  QS_OVERALL     7109 non-null   float64
 16  REG_FEE        7109 non-null   int64
 17  COMMIS         7109 non-null   int64
 18  SALES_PRICE    7109 non-null   int64
dtypes: float64(13), int64(6)
memory usage: 1.0 MB

In [ ]:
df.to_csv("cleaned.csv")

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

In [ ]:
X = df.drop('SALES_PRICE',axis=1)
y = df.SALES_PRICE

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.3)
X_train,X_valid,y_train,y_valid = train_test_split(X_train,y_train,random_state=0,test_size=0.3)

In [ ]:
kf = KFold(n_splits=10,shuffle=True)

In [ ]:
lr = LinearRegression().fit(X_train,y_train)
cs = cross_val_score(lr,X_train,y_train,cv=kf)

In [ ]:
cs.mean()

0.8827934332054295

In [ ]:
lr.score(X_train,y_train), lr.score(X_valid,y_valid)

(0.8848817049285799, 0.8751561051709122)

In [ ]:
rr = RandomForestRegressor(n_estimators=500).fit(X_train,y_train)
rr.score(X_train,y_train), rr.score(X_valid,y_valid)

(0.9953716112994604, 0.9648969467875645)

In [ ]:
xx = XGBRegressor().fit(X_train,y_train)
xx.score(X_train,y_train), xx.score(X_valid,y_valid)

[08:03:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

(0.9734441212199575, 0.965426168654246)